<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Created card</title>
  <script src="https://kit.fontawesome.com/7879d2c79d.js" crossorigin="anonymous"></script>
</head>

<body>
    <main><h1>Hola holita vecinito</h1></main>
</body>
</html>